
#nav  li li a:hover{
	padding-right: 3px;
}

.div_headertextinput{
	top: -3px;
}



/* buttons bigger and default, needs adjusting.... */
.div_headertextinput{
	/*width: 264px;*/
	width: 239px;
}
.headertextinput{
	/*width: 260px;*/
	width: 235px;
}

.div_headerbutton{
	width: 32px;
}
.headerbutton{
	width: 30px;
}

.div_cancel_button{
	width: 37px;
}
.headerbuttonreset{
	width: 47px;
}
/* buttons bigger and default, needs adjusting.... */









