../../external/iao?forceReadOnly=true
../../branches/externalDerived.owl?forceReadOnly=true
../../branches/external.owl?forceReadOnly=true
../../branches/external-byhand.owl?forceReadOnly=true
../../branches/obi-owl-full.owl?forceReadOnly=true
../../branches/Biomaterial.owl?forceReadOnly=true
../../branches/DataTransformation.owl?forceReadOnly=true
../../branches/DigitalEntityPlus.owl?forceReadOnly=true
../../branches/DataFormatSpecification.owl?forceReadOnly=true
../../branches/InstrumentAndPart.owl?forceReadOnly=true
../../branches/obi-quick-id.owl?forceReadOnly=true
../../branches/Obsolete.owl?forceReadOnly=true
../../branches/PlanAndPlannedProcess.owl?forceReadOnly=true
../../branches/Relations.owl?forceReadOnly=true
../../branches/Role.owl?forceReadOnly=true
../../branches/OBI-Function.owl?forceReadOnly=true
../../branches/Quality.owl?forceReadOnly=true
../../branches/AnnotationProperty.owl?forceReadOnly=true
../../external/bfo11.owl?forceReadOnly=true
../../external/protege-dc.owl?forceReadOnly=true
../../external/protege.owl?forceReadOnly=true
../../external/ro.owl?forceReadOnly=true
../../external/ro_bfo_bridge11.owl?forceReadOnly=true
../../external/iao/iao.owl?forceReadOnly=true
../../external/iao/ontology-metadata.owl?forceReadOnly=true
../../external/iao/obsolete.owl?forceReadOnly=true
../../branches/instances/dataTransformationInstances.owl?forceReadOnly=true
../../branches/instances/softwareInstances.owl?forceReadOnly=true
./ONTIE.owl?forceReadOnly=false
./obi-ontie-external.owl?forceReadOnly=true

