<?xml version="1.0"?>
<rdf:RDF
    xmlns:xsp="http://www.owl-ontologies.com/2005/08/07/xsp.owl#"
    xmlns:swrlb="http://www.w3.org/2003/11/swrlb#"
    xmlns:swrl="http://www.w3.org/2003/11/swrl#"
    xmlns:protege="http://protege.stanford.edu/plugins/owl/protege#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:owl="http://www.w3.org/2002/07/owl#"
    xmlns:p1="http://purl.obofoundry.org/obo/"
    xmlns="http://purl.obolibrary.org/obo/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
  xml:base="http://purl.obolibrary.org/obo/">
  <owl:Ontology rdf:about="http://purl.obolibrary.org/obo/obi.owl">
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/PlanAndPlannedProcess.owl"/>
    <dc:creator xml:lang="en">Richard Scheuermann</dc:creator>
    <dc:creator xml:lang="en">Barry Smith</dc:creator>
    <owl:imports rdf:resource="http://www.obofoundry.org/ro/ro.owl"/>
    <dc:creator xml:lang="en">Cristian Cocos</dc:creator>
    <dc:creator xml:lang="en">Richard Bruskiewich</dc:creator>
    <dc:creator xml:lang="en">Melanie Courtot</dc:creator>
    <dc:creator xml:lang="en">Jeffrey Grethe</dc:creator>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/Quality.owl"/>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/Biomaterial.owl"/>
    <owl:versionInfo xml:lang="en">1.0.1213</owl:versionInfo>
    <dc:creator xml:lang="en">Gilberto Fragoso</dc:creator>
    <dc:creator xml:lang="en">Dawn Field</dc:creator>
    <dc:creator xml:lang="en">Norman Morrison</dc:creator>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/Role.owl"/>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/OBI-Function.owl"/>
    <dc:creator xml:lang="en">Frank Gibson</dc:creator>
    <dc:creator xml:lang="en">Bjoern Peters</dc:creator>
    <dc:creator xml:lang="en">Pierre Grenon</dc:creator>
    <dc:creator xml:lang="en">Susanna-Assunta Sansone</dc:creator>
    <dc:subject xml:lang="en">An ontology for the annotation of biomedical and functional genomics experiments.</dc:subject>
    <dc:creator xml:lang="en">Joe White</dc:creator>
    <dc:creator xml:lang="en">Chris Taylor</dc:creator>
    <dc:creator xml:lang="en">Holger Stenzhorn</dc:creator>
    <dc:creator xml:lang="en">Philippe Rocca-Serra</dc:creator>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/externalDerived.owl"/>
    <dc:creator xml:lang="en">Chris Mungall</dc:creator>
    <dc:creator xml:lang="en">Jennifer Fostel</dc:creator>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi-ontie-external.owl"/>
    <dc:contributor xml:lang="en">Advisors for this project come from the IFOMIS group, Saarbruecken and from the Co-ODE group in Manchester</dc:contributor>
    <dc:creator xml:lang="en">Jie Zheng</dc:creator>
    <dc:creator xml:lang="en">Trish Whetzel</dc:creator>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/ONTIE.owl"/>
    <dc:rights xml:lang="en">free, no license required.</dc:rights>
    <dc:format xml:lang="en">OWL-DL</dc:format>
    <dc:creator xml:lang="en">Luisa Montecchi</dc:creator>
    <dc:creator xml:lang="en">Allyson Lister</dc:creator>
    <dc:creator xml:lang="en">Philip Lord</dc:creator>
    <dc:creator xml:lang="en">Dirk Derom</dc:creator>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/DataTransformation.owl"/>
    <dc:creator xml:lang="en">Tina Hernandez-Boussard</dc:creator>
    <dc:date rdf:datatype="http://www.w3.org/2001/XMLSchema#date"
    >2009-04-02</dc:date>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/external.owl"/>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/obi-owl-full.owl"/>
    <rdfs:comment xml:lang="en">draft version</rdfs:comment>
    <owl:imports rdf:resource="http://www.ifomis.org/bfo/1.1"/>
    <dc:creator xml:lang="en">Monnie McGee</dc:creator>
    <dc:creator xml:lang="en">Eric Deutsch</dc:creator>
    <dc:creator xml:lang="en">Yongqun He</dc:creator>
    <dc:description xml:lang="en">The Ontology for Biomedical Investigations (OBI) is build in a collaborative, international effort and will serve as a resource for annotating biomedical investigations, including the study design, protocols and instrumentation used, the data generated and the types of analysis performed on the data. This ontology arose from the Functional Genomics Investigation Ontology (FuGO) and will contain both terms that are common to all biomedical investigations, including functional genomics investigations and those that are more domain specific.</dc:description>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/DataFormatSpecification.owl"/>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/Relations.owl"/>
    <owl:imports rdf:resource="http://protege.stanford.edu/plugins/owl/dc/protege-dc.owl"/>
    <dc:creator xml:lang="en">Daniel Schober</dc:creator>
    <owl:imports rdf:resource="http://protege.stanford.edu/plugins/owl/protege"/>
    <dc:creator xml:lang="en">Stefan Wiemann</dc:creator>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/Obsolete.owl"/>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/dataTransformationInstances.owl"/>
    <dc:creator xml:lang="en">Robert Stevens</dc:creator>
    <dc:creator xml:lang="en">John Westbrook</dc:creator>
    <dc:creator xml:lang="en">Kevin Clancy</dc:creator>
    <dc:creator xml:lang="en">Larisa Soldatova</dc:creator>
    <dc:creator xml:lang="en">Jay Greenbaum</dc:creator>
    <dc:creator xml:lang="en">Mervi Heiskanen</dc:creator>
    <owl:versionInfo xml:lang="en">$Rev: 1706 $</owl:versionInfo>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/softwareInstances.owl"/>
    <dc:creator xml:lang="en">Alan Ruttenberg</dc:creator>
    <dc:creator xml:lang="en">Helen Parkinson</dc:creator>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/external-byhand.owl"/>
    <owl:imports rdf:resource="http://purl.org/obo/owl/ro_bfo_bridge/1.1"/>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/InstrumentAndPart.owl"/>
    <dc:creator xml:lang="en">James Malone</dc:creator>
    <dc:creator xml:lang="en">Elisabetta Manduchi</dc:creator>
    <dc:creator xml:lang="en">Lawrence Hunter</dc:creator>
    <dc:creator xml:lang="en">Bill Bug</dc:creator>
    <dc:creator xml:lang="en">Chris Stoeckert</dc:creator>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/DigitalEntityPlus.owl"/>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/dev/iao.owl"/>
    <dc:creator xml:lang="en">Daniel Rubin</dc:creator>
    <dc:creator xml:lang="en">Matthew Pocock</dc:creator>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/AnnotationProperty.owl"/>
    <dc:creator xml:lang="en">Helen C. Causton</dc:creator>
    <dc:creator xml:lang="en">Tanya Gray</dc:creator>
    <dc:creator xml:lang="en">Ryan R. Brinkman</dc:creator>
    <protege:defaultLanguage rdf:datatype="http://www.w3.org/2001/XMLSchema#string"
    >en</protege:defaultLanguage>
    <dc:creator xml:lang="en">Liju Fan</dc:creator>
    <dc:title xml:lang="en">Ontology for Biomedical Investigation</dc:title>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/obi/obi-quick-id.owl"/>
  </owl:Ontology>
  <owl:ObjectProperty rdf:about="http://purl.obofoundry.org/obo/IAO_0000222"/>
</rdf:RDF>

<!-- Created with Protege (with OWL Plugin 3.4.1, Build 536)  http://protege.stanford.edu -->
