<?xml version="1.0"?>
<rdf:RDF
    xmlns:xsp="http://www.owl-ontologies.com/2005/08/07/xsp.owl#"
    xmlns:swrlb="http://www.w3.org/2003/11/swrlb#"
    xmlns:swrl="http://www.w3.org/2003/11/swrl#"
    xmlns:protege="http://protege.stanford.edu/plugins/owl/protege#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns="http://www.owl-ontologies.com/Ontology1233086399.owl#"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:owl="http://www.w3.org/2002/07/owl#"
    xmlns:obo="http://purl.obolibrary.org/obo/"
    xmlns:span="http://www.ifomis.org/bfo/1.1/span#"
  xml:base="http://www.owl-ontologies.com/Ontology1233086399.owl">
  <owl:Ontology rdf:about="">
    <protege:defaultLanguage rdf:datatype="http://www.w3.org/2001/XMLSchema#string"
    >en</protege:defaultLanguage>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/ONTIE.owl"/>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/ontie-external.owl"/>
    <owl:imports rdf:resource="http://purl.obolibrary.org/obo/iao/dev/iao.owl"/>
  </owl:Ontology>
</rdf:RDF>

<!-- Created with Protege (with OWL Plugin 3.4.1, Build 536)  http://protege.stanford.edu -->
