<?xml version="1.0"?>
<rdf:RDF
    xmlns:protege="http://protege.stanford.edu/plugins/owl/protege#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:owl="http://www.w3.org/2002/07/owl#"
   xmlns="http://purl.obofoundry.org/obo/"
   xml:base="http://purl.obofoundry.org/obo/">
  <owl:Ontology rdf:about="">
  <owl:versionInfo xml:lang="en">$Rev$</owl:versionInfo>   
  <owl:imports rdf:resource="http://www.ifomis.org/bfo/1.1"/>
  <owl:imports rdf:resource="http://purl.org/obo/owl/ro"/>
  <owl:imports rdf:resource="http://purl.org/obo/owl/ro_bfo1-1_bridge"/>
  <owl:imports rdf:resource="http://protege.stanford.edu/plugins/owl/dc/protege-dc.owl"/>
  <owl:imports rdf:resource="http://protege.stanford.edu/plugins/owl/protege"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/external.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/externalDerived.owl"/>
 <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/external-byhand.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/DataFormatSpecification.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/DataTransformation.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/DigitalEntityPlus.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/Biomaterial.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/Role.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/InstrumentAndPart.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/PlanAndPlannedProcess.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/TheRest.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/obi-owl-full.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/Relations.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/Obsolete.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/AnnotationProperty.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/OBI-Function.owl"/>
  <owl:imports rdf:resource="http://purl.obofoundry.org/obo/obi/Quality.owl"/>
  <protege:defaultLanguage rdf:datatype="http://www.w3.org/2001/XMLSchema#string">en</protege:defaultLanguage>
  </owl:Ontology> 
</rdf:RDF>

<!-- Created with Protege (with OWL Plugin 3.3, Build 406)  http://protege.stanford.edu -->
