[Dublin Core DL Redirect]
file:/Users/alanr/repos/obi/branchDevelopment/trunk/external/protege-dc.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/external/protege.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/bfo/bfo.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/external/ro.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/external/ro_bfo_bridge.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/ProtocolApplication.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/TheRest.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/InstrumentAndPart.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/DataTransformation.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/Biomaterial.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/Plan.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/Role.owl?forceReadOnly=true
file:/Users/alanr/repos/obi/branchDevelopment/trunk/DigitalEntityPlus.owl?forceReadOnly=true
